.container {
  height: 20rem;
  width: 14rem;
  background-color: lightgray;
}

.drag-and-drop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.container-item-description {
  padding: 2px;
  margin: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: move;
}